.App {
  display: grid;
  grid-template-columns: .5fr;
  grid-template-rows: 1fr 1fr 5fr;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}

.title { 
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.25em;
  margin-top: 1rem;
  font-weight: 700;
  color: #437f5b;
  transition: all 0.2s;
}